.text-primary {
    color: #BCCF02;
}

a {
    color: #BCCF02;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #ea321e;
    text-decoration: none;
}

.btn-primary {
    border-color: #BCCF02;
    background-color: #BCCF02;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #ea321e;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #BCCF02;
    background-color: #BCCF02;
}

.btn-primary .badge {
    color: #BCCF02;
}

.btn-xl {
    border-color: #BCCF02;
    background-color: #BCCF02;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #ea321e;
    background-color: #ea321e;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #BCCF02;
    background-color: #BCCF02;
}

.btn-xl .badge {
    color: #BCCF02;
    background-color: #fff;
}


.navbar-default .navbar-brand {
    color: #BCCF02;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #BCCF02;
}

.navbar-default .navbar-toggle {
    border-color: #BCCF02;
    background-color: #BCCF02;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #BCCF02;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #BCCF02;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #BCCF02;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #BCCF02;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #BCCF02;
}

.menu-wrap .logo {
    color: #BCCF02;
}

.menu-button {
    background: #BCCF02;
}

.header .intro-text h1 span {
    color: #BCCF02;
}

.main-title strong {
    color: #BCCF02;
}

.feature i {
    background: #BCCF02;
}

.no-touch .feature:hover i,
	.no-touch .feature:active i,
	.no-touch .feature:focus i {
        
        box-shadow: 0 0 0 0 #BCCF02;
}

.feature-2 i {
    background: #BCCF02;
    border: 1px solid #BCCF02;
}

.feature-2:hover i {
    background: transparent;
    color: #BCCF02;
}

.feature-2:hover .border {
    border-color: #BCCF02;
}

.feature-3 i {
    color: #BCCF02;
    border: 1px solid #BCCF02;
}

.feature-3:hover i {
    background: #BCCF02;
    color: #fff;
}

.feature-3:hover .border {
    border-color: #BCCF02;
}

.portfolio-caption a i {
    color: #BCCF02;
}
.portfolio-item:hover .portfolio-caption {
    background-color: rgba(188, 207, 2, 0.8);
}

.welcome-section:hover .border {
    border-color: #BCCF02;
}

.welcome-section:hover h4 {
    color: #BCCF02;
}

.about-text li i {
    color: #BCCF02;
}

.about-us-section-2 .carousel-indicators li,
.project-image .carousel-indicators li {
	border: 2px solid #BCCF02 !important;
}

.about-us-section-2 .carousel-indicators .active,
.project-image .carousel-indicators .active {
	background-color: #BCCF02;
}

.owl-theme .owl-controls .owl-buttons div {
	background: #BCCF02;
}

#team-section .nav-tabs.nav-justified {
    background: #BCCF02;
}

.team-member .team-details {
    background-color: rgba(188, 207, 2, 0.8);
}

.counter-item i {
    color: #BCCF02;
}
.timer {
    color: #BCCF02;
}
.latest-post h4 {
    color: #BCCF02;
}
.latest-post .post-details li i {
    color: #BCCF02;
}

.testimonials .testimonial-content img {
    border: 3px solid #BCCF02;
}
.testimonials .testimonial-author .author {
    color: #BCCF02;
}
.testimonials-carousel .owl-controls.clickable .owl-buttons div{
	color: #BCCF02;
}
.owl-theme .owl-controls .owl-page.active{
    background-color: #BCCF02;
}

.contact .form-control:focus {
    border-color: #BCCF02;
    box-shadow: none;
}

footer.style-1 .footer-social li a {
    background: #BCCF02;
}

.call-to-action h1 strong {
    color: #BCCF02;   
}

.team-details li a {
    background: #BCCF02;
}

.progress-bar {
    background: #BCCF02;
}


.pricing-tables .pricing-table.highlight-plan .plan-name {
    background: #BCCF02;
}

.pricing-tables .pricing-table.highlight-plan .plan-signup {
    background: #BCCF02;
}

.footer-contact-info {
    background: rgba(188, 207, 2, 0.8);
}

footer.style-1 {
    border-top: 2px solid #BCCF02;
}

#main-slide .slider-content h1 strong {
    color: #BCCF02;
}

.latest-post .post-details .date {
    background: rgba(188, 207, 2, 0.8);
}

.custom-tab .nav-tabs.nav-justified {
    background: #BCCF02;
}

.plan-name {
    background: #BCCF02;
}

.plan-signup {
    background: #BCCF02;
}

.dot1, .dot2 {
    background-color: #BCCF02;
}

.hr-color{
    color: rgb(188, 207, 2);
    background: rgb(188, 207, 2);
}