/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Jul-2018, 16:45:51
    Author     : hasit
*/
.checked {
    color: yellow;
    font-size: 50px;
}
.unchecked{
    font-size: 50px;
}


.portfolio-caption a.link-1 i {
    left: 40%;
}

.imagesize {
    width: 300px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
}

.about-us-section-2 {
    background: none;
}

.hotel-name{
    font-family: cursive;
}

.rooms{
    padding-top: 15px;
    align-content: center;
}

.hotel-display{
    padding-top: 30px;
}

.particles-styles-bg {
    height: 1453px !important;
}

.portfolio-section-1 {
    position: absolute;
    /* height: 155%; */
    /* height: 1013px; */
    margin-left: 10%;
    /* margin-bottom: 500px; */
    /* margin-top: 20%; */
    background: none;
}

.section-title h3 {
    font-size: 50px;
}
h5{
    color: wheat;
}

h6{
    color: wheat;
}

.section-modal .modal-content {
    background: #222222;
}

.description-text-style{
    text-align: center;
}

.sub-title-style{
    font-size: 155%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.about-us-section-2 {
    padding-top: 12px;
}

.section-modal .close-modal .lr {
    background-color: #efebeb;
}

.section-modal .close-modal .lr .rl {
    background-color: #efebeb;
}