/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2018, 12:47:10 PM
    Author     : Rashmal
*/

@import url(https://fonts.googleapis.com/css?family=Anaheim);

.h1-title{
    display: table;
    margin: 5% auto 0;
    text-transform: uppercase;
    font-family: 'Anaheim', sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-shadow: 0 1px white, 0 2px black;
    margin-top: -2%;
    margin-bottom: 7%;
}
.container-image-gallery{
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 231px;
    height: 204px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}

#carousel h2{
    font-size: 135%;
    text-align: center;
    margin-top: 6%;
    color: white;
}

#carousel img{
    height: 154px;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(400px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(400px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(400px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(400px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(400px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(400px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(400px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(400px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(400px);}

img{
    -webkit-filter: grayscale(0);
    cursor: pointer;
    transition: all .5s ease;
    height: inherit;
    width: inherit;
}
img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}