/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2018, 2:02:35 PM
    Author     : Rashmal
*/

[type=radio] {
    display: none;
}

#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 92%;
    height: 147%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}





#s1:checked ~ #slide1, #s2:checked ~ #slide2,#s3:checked ~ #slide3, #s4:checked ~ #slide4,#s5:checked ~ #slide5,#s6:checked ~ #slide6,#s7:checked ~ #slide7,#s8:checked ~ #slide8,#s9:checked ~ #slide9,#s10:checked ~ #slide10 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,#s3:checked ~ #slide4, #s4:checked ~ #slide5,#s5:checked ~ #slide6,#s6:checked ~ #slide7,#s7:checked ~ #slide8,#s8:checked ~ #slide9,#s9:checked ~ #slide10,#s10:checked ~ #slide1  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,#s3:checked ~ #slide5, #s4:checked ~ #slide6,#s5:checked ~ #slide7,#s6:checked ~ #slide8,#s7:checked ~ #slide9,#s8:checked ~ #slide10,#s9:checked ~ #slide1,#s10:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,#s3:checked ~ #slide6, #s4:checked ~ #slide7,#s5:checked ~ #slide8,#s6:checked ~ #slide9,#s7:checked ~ #slide10,#s8:checked ~ #slide1,#s9:checked ~ #slide2,#s10:checked ~ #slide3  {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide6,#s3:checked ~ #slide7, #s4:checked ~ #slide8,#s5:checked ~ #slide9,#s6:checked ~ #slide10,#s7:checked ~ #slide1,#s8:checked ~ #slide2,#s9:checked ~ #slide3,#s10:checked ~ #slide4  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}


#s1:checked ~ #slide6, #s2:checked ~ #slide7,#s3:checked ~ #slide8, #s4:checked ~ #slide9,#s5:checked ~ #slide10,#s6:checked ~ #slide1,#s7:checked ~ #slide2,#s8:checked ~ #slide3,#s9:checked ~ #slide4,#s10:checked ~ #slide5  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide7, #s2:checked ~ #slide8,#s3:checked ~ #slide9, #s4:checked ~ #slide10,#s5:checked ~ #slide1,#s6:checked ~ #slide2,#s7:checked ~ #slide3,#s8:checked ~ #slide4,#s9:checked ~ #slide5,#s10:checked ~ #slide6  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide8, #s2:checked ~ #slide9,#s3:checked ~ #slide10, #s4:checked ~ #slide1,#s5:checked ~ #slide2,#s6:checked ~ #slide3,#s7:checked ~ #slide4,#s8:checked ~ #slide5,#s9:checked ~ #slide6,#s10:checked ~ #slide7  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide9, #s2:checked ~ #slide10,#s3:checked ~ #slide1, #s4:checked ~ #slide2,#s5:checked ~ #slide3,#s6:checked ~ #slide4,#s7:checked ~ #slide5,#s8:checked ~ #slide6,#s9:checked ~ #slide7,#s10:checked ~ #slide8  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide10, #s2:checked ~ #slide1,#s3:checked ~ #slide2, #s4:checked ~ #slide3,#s5:checked ~ #slide4,#s6:checked ~ #slide5,#s7:checked ~ #slide6,#s8:checked ~ #slide7,#s9:checked ~ #slide8,#s10:checked ~ #slide9  {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

/*

#slide1 { background: #00BCD4 }
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 }

#slide6 { background: #FF5722 }
#slide7 { background: #FFC107 }
#slide8 { background: #00BCD4 }
#slide9 { background: #4CAF50 }
#slide10 { background: #CDDC39 }*/

#slide1 { background: #888888 }
#slide2 { background: #888888 }
#slide3 { background: #888888 }
#slide4 { background: #888888 }
#slide5 { background: #888888 }

#slide6 { background: #888888 }
#slide7 { background: #888888 }
#slide8 { background: #888888 }
#slide9 { background: #888888 }
#slide10 { background: #888888 }
