/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2018, 12:29:06 PM
    Author     : Rashmal
*/

.particles-styles-bg {
    height: 4239px !important
}

.portfolio-section-1 {
    position: absolute;
    /* height: 155%; */
    /* height: 1013px; */
    margin-left: 10%;
    /* margin-bottom: 500px; */
    /* margin-top: 20%; */
    background: none;
}

.section-title h3 {
    font-size: 50px;
}

.section-modal .modal-content {
    background: #222222;
}

.modal-description{
    text-align: center;
    padding-bottom: 5%;
}

.section-modal .close-modal .lr {
    background-color: #efebeb;
}

.section-modal .close-modal .lr .rl {
    background-color: #efebeb;
}

.tours-div-style{
    margin-left: 22%;
}

.tours-div-content{
    text-align: center;
    color: #c2d4d3;
    margin-left: 2%;
    /* margin-right: -2px; */
    width: 96%;
}

.tours-div-content-main-bg{
    background-image: url('../images/Tours/tours-bg.jpg');
    opacity: 0.8;
}

.tour-icons{
    color: white;
    font-size: 150%;
    padding-right: 3%;
}

.tour-text-style{
    color: #e5e5d5;
    margin-top: 9%;
}

.tour-main-details{
    padding: 4%;
}

.more-details-icon{
    margin-left: 11%;
}

.fa-send-o:before, .fa-paper-plane-o:before {
    margin-left: -21%;
}